.item {
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    transition: background .4s;
}
.item:hover{
    background: #faf0cf;
}
.check {
    font-size: 20px;
}

.ulist {
    padding-left: 4px;
}
.input-txt {
    max-width: 240px;
    display: inline-block;
}